<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flash.worker.module.mine">

    <application
        android:label="@string/mine_module_mine"
        android:name="com.flash.worker.lib.common.app.App"
        android:icon="@drawable/module_mine_logo"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        tools:replace="android:allowBackup,android:label,android:icon">

        <activity android:name=".view.activity.MineActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".view.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EditUserNameActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EditEmergencyContactActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EditInviteIdActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.WalletActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.WithdrawHistoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.RechargeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.WithdrawActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.BalanceFlowActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.WithdrawAccountBindingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.VerifyIdentidyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SetTransactionPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.FrozenFlowActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ReSetTransactionPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ReSetTransactionPasswordSuccessActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.AccountSecurityActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ModifyTransactionPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SalaryExpenseDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.RechargeDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.WithdrawDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EmployRewardDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ServiceFeeDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CreditPaymentDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CreditCompensationDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SalaryCompensationDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SalaryPaymentDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.JoinGuildActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.ApplyEstablishGuildActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuidanceNotesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.SignApplyFormActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.FillGuildWorkExperienceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.FillGuildIntroductionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.FillGuildRegulationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.ApplyRecordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildRegulationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.MyGuildActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildIntroductionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildNewsViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.MonthlyIncomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildRewardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildHallActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.PresidentGuildActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EditGuildAvatarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildNewsManageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.NewsReleaseActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.IntroductionManageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.RegulationManageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ManagementNoticeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.MemberManagementActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.MemberDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.MemberIncomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.FundingIncomeDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.RewardReceiveDescriptionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.GuildRedEnvelopeDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CancelAccountActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CancelAccountSuccessActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.RedEnvelopeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EmploymentRewardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CouponActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CouponDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CouponHistoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.CustomerServiceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.EmploymentRewardReceiveNotesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.BalanceFlowDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.ViolationNoticeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.activity.RealNameActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>